.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.external-links a {
    color: #007bff;
    text-decoration: none;
}

.external-links a:hover {
    text-decoration: underline;
}

footer{
    position: relative;
}
h2{
    color:black;
}