.content {
    width: 1000px; /* Aumenta a largura do container para 90% */
    max-width: 1000px; /* Define uma largura máxima para telas maiores */
    margin: 20px auto; /* Adiciona espaçamento ao redor do container */
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-left: 5px;
}

.external-links a {
    color: #007bff;
    text-decoration: none;
}

.external-links a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
    margin-top: 20px;
}

h2 {
    color: black;
}
